@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

* {
    box-sizing: border-box;
}

.main-header {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url("imagen/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'dosis', sans-serif;
    position: relative;
    overflow: hidden;
}

.main-nav {
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    position: absolute;
    width: 100%;
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 10px 35px;
    font-size: 1.3rem;
    color: rgb(19, 179, 190);
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display: inline-block;
    padding: 30px 40px; 
    font-size: 1.3rem;
    color: rgb(250, 250, 250);
}
ul li a:hover {
    background:rgb(197, 0, 92);
}
.content-header {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction:column;
}

.content-header h1 {
    font-size: 7rem;
}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
}
.content-header a {
    font-size: 1.2rem;
    display: inline-block;
    padding: 15px 30px;
    background: rgb(1, 212, 160);
    color: rgb(0, 0, 0);
}

.content-header a:hover {
    background:rgb(235, 60, 7);
    border: 2px solid rgb(240, 240, 240);
    padding: 13px 28px;
}

.linea2,.linea22 {
    position: absolute;
    width: 40px;
    height: 130%;
    background: rgb(25, 37, 78);
    right: 10%;
    top: -50px;
    transform: rotate(15deg);
    background-image: linear-gradient(to right top, #1a355c, #005d8a, #008696, #00ab77, #4cdd04);
} 

.linea2 {
    right: 13%;
}

.cabaña {
    max-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 1000px;
    height: 800px;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.telefono {
    text-align: left;
    width: 90px;
}
.correo {
    text-align: left;
    width: 90px;
}
.lugar {
    text-align: left;
    width: 90px;
}
.a {
    padding: 30px 40px; 
    font-size: 2.0rem;
    color: rgb(12, 182, 102);
    left: 300px;
    top: 80%;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 90%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 80%;
	max-width: 1080px;
	margin: 20px;
	padding: 20px;
	margin-top: 20px;
	text-align: right;
	color: #7a7a7a;
}
.card{
    display: flex;
	width: 100%;
	margin: 10px;
	border-radius: 10px;
	
	background:rgb(147, 164, 187);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
    display: flex;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
    display: flex;
	width: 90%;
	height: 210px;
}
.card .contenido-card{
    
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
     display: flex;
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
    display: flex;
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 40px;
	margin-bottom: 50px;
}
.card .contenido-card a{
    display: flex;                                                      
    width: 20px;
	padding: 30px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
.pe {
    font-size: 1.2rem;
}
.ubicacion {
    position: relative;
    left: 7%;  
    background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}
